<header>
    <img id="nav" src="../images/common/icon-nav.png" />
    <a href="/"><h1>联合健康</h1></a>
    <img id="pc" src="../images/common/icon-pc.png" onclick="window.location.href='/user'"/>
</header>
<nav>
    <div class="content">
        <input id="mysearch" placeholder="输入要搜索的关键词"/><button id="search">搜索</button>
        <div class="row margin25 level1"><a href="/">联合健康</a><a href="/article/list?class=26">最新活动</a><a href="/video/list?class=51">健康视频</a></div>
        <div id="sale1" class="row margin15 level1"><a href="/article/list?class=54">销售培训</a><a href="">&nbsp;</a><a href="">&nbsp;</a></div>
        <div id="sale2" class="row margin25 level2"><a href="/article/list?class=54">产品知识</a><a href="/article/list?class=55">销售技巧</a><a href="/article/list_sale?class=56">电子物料</a></div>
        <div class="row margin15 level1"><a href="/article/list?class=27">健康悦读</a><a href="">&nbsp;</a><a href="">&nbsp;</a></div>
        <div class="row margin25 level2"><a href="/article/list?class=33">贫血补血</a><a href="/article/list?class=27">咨询头条</a><a href="/article/list?class=28">生活百科</a></div>
        <div class="row margin15 level1"><a href="/ask">留言问答</a><a href="">&nbsp;</a><a href="">&nbsp;</a></div>
        <div class="row margin15 level2"><a href="/ask/list?department=妇产科&page=1">妇产科</a><a href="/question/list?department=内科&page=1">肾科</a><a href="/question/list?department=儿科&page=1">儿科</a></div>
        <!--<div class="row margin15 level2"><a href="">急诊科</a><a href="">妇产科</a><a href="">皮肤性病科</a></div>-->
        <!--<div class="row margin15 level2"><a href="">中医科</a><a href="">耳鼻喉科</a><a href="">口腔科</a></div>-->
        <!--<div class="row margin15 level2"><a href="">眼科</a><a href="">康复科</a><a href="">预防保健科</a></div>-->
        <div class="row margin15 level2"><a href="/ask/list?department=肿瘤科&page=1">肿瘤科</a><a href=""></a><a href=""></a></div>
    </div>
</nav>
